n8n/avisame-workflow.json
{
  "name": "Avisame – ONEBOX → Mailchimp → Mandrill",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [528, -64],
      "id": "acf0d041-588e-4250-9b01-a33a6261069b",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "v1", "name": "event_id",              "type": "number", "value": 4587 },
            { "id": "v2", "name": "channel_id",            "type": "number", "value": 2287 },
            { "id": "v3", "name": "onebox_client_secret",  "type": "string", "value": "REPLACE_WITH_ONEBOX_CLIENT_SECRET" },
            { "id": "v4", "name": "mailchimp_list_id",     "type": "string", "value": "REPLACE_WITH_MAILCHIMP_AUDIENCE_ID" },
            { "id": "v5", "name": "mandrill_from_email",   "type": "string", "value": "avisame@lin3s.com" },
            { "id": "v6", "name": "mandrill_from_name",    "type": "string", "value": "RC Celta" },
            { "id": "v7", "name": "purchase_url_template", "type": "string", "value": "https://tickets.oneboxtds.com/rccelta/select/{sessionId}?viewCode=V_blockmap&utm_source=avisame&utm_medium=email&utm_campaign=recovery-app&utm_content=event-{eventId}-grada-{gradaId}" }
          ]
        },
        "options": {}
      },
      "id": "91cc47ac-ce29-478f-8099-52354711d860",
      "name": "Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [752, -64]
    },
    {
      "parameters": {
        "operation": "getAll",
        "list": "={{ $('Vars').first().json.mailchimp_list_id }}",
        "returnAll": true,
        "options": {}
      },
      "id": "456f6c90-e0ab-4945-8396-9a12aa5803b3",
      "name": "Mailchimp Members",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [944, -64],
      "credentials": {
        "mailchimpApi": {
          "id": "PLEASE_LINK_AFTER_IMPORT",
          "name": "Mailchimp API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "members",
        "options": {}
      },
      "id": "6867f690-0285-4dd6-bdf9-78065497ba9b",
      "name": "Aggregate members",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1152, -64]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.oneboxtds.net/oauth/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type",    "value": "client_credentials" },
            { "name": "client_id",     "value": "seller-channel-client" },
            { "name": "client_secret", "value": "={{ $('Vars').first().json.onebox_client_secret }}" },
            { "name": "channel_id",    "value": "={{ $('Vars').first().json.channel_id }}" }
          ]
        },
        "options": {}
      },
      "id": "d92d30a4-e628-4c63-a185-7e4fe1a8f070",
      "name": "ONEBOX Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, -64]
    },
    {
      "parameters": {
        "url": "https://api.oneboxtds.net/catalog-api/v1/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('ONEBOX Auth').first().json.access_token }}" },
            { "name": "Accept",        "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "8ac2788c-215e-45d8-9b88-9eb26a97ed00",
      "name": "ONEBOX Sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1552, -64]
    },
    {
      "parameters": {
        "jsCode": "const eventId = Number($('Vars').first().json.event_id);\nconst resp = $input.first().json;\nconst sessions = resp.data ?? [];\nreturn sessions\n  .filter(s => Number(s.event?.id) === eventId)\n  .map(s => ({\n    json: {\n      session_id: s.id,\n      session_name: s.name,\n      event_id: s.event?.id,\n      event_name: s.event?.name,\n      on_sale: !!s.on_sale,\n      sold_out: !!s.sold_out\n    }\n  }));"
      },
      "id": "f2b00f6c-05b4-47da-9e45-dc0ad64f6d9b",
      "name": "Filter by event_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1744, -64]
    },
    {
      "parameters": {
        "url": "=https://api.oneboxtds.net/catalog-api/v1/sessions/{{ $json.session_id }}/availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('ONEBOX Auth').first().json.access_token }}" },
            { "name": "Accept",        "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "203c6b2d-381f-44e7-be02-4efa80a07255",
      "name": "ONEBOX Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1952, -64]
    },
    {
      "parameters": {
        "jsCode": "const eventId = Number($('Vars').first().json.event_id);\nconst sessions = $('Filter by event_id').all();\nconst responses = $input.all();\n\nconst out = [];\nfor (let i = 0; i < responses.length; i++) {\n  const avail = responses[i].json;\n  const sess  = sessions[i]?.json ?? {};\n  const sessionId = avail.id ?? sess.session_id;\n  const eventName = sess.event_name ?? null;\n\n  for (const sec of avail.sectors ?? []) {\n    let available = 0, total = 0;\n    for (const pt of sec.price_types ?? []) {\n      available += pt.availability?.available ?? 0;\n      total     += pt.availability?.total ?? 0;\n    }\n    if (available > 0) {\n      out.push({ json: {\n        event_id: eventId,\n        session_id: sessionId,\n        event_name: eventName,\n        grada_id: sec.id,\n        grada_name: sec.name,\n        grada_code: sec.code ?? null,\n        available,\n        total\n      }});\n    }\n  }\n}\nreturn out;\n"
      },
      "id": "3ac3b800-88ec-4673-862b-408bd5ff95bd",
      "name": "Gradas with availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, -64]
    },
    {
      "parameters": {
        "jsCode": "// For each grada with availability, find Mailchimp subscribers whose tags\n// include event:<id>, grada:<id> and source:avisame.\nconst members = $('Aggregate members').first().json.members ?? [];\nconst gradas  = $input.all();\nconst wantSource = 'source:avisame';\n\nconst out = [];\nfor (const g of gradas) {\n  const ctx = g.json;\n  const wantEvent = 'event:' + ctx.event_id;\n  const wantGrada = 'grada:' + ctx.grada_id;\n  for (const m of members) {\n    if (m.status !== 'subscribed') continue;\n    const tagNames = (m.tags ?? []).map(t => t.name);\n    if (!tagNames.includes(wantEvent)) continue;\n    if (!tagNames.includes(wantGrada)) continue;\n    if (!tagNames.includes(wantSource)) continue;\n    out.push({ json: {\n      email:      m.email_address,\n      first_name: m.merge_fields?.FNAME || '',\n      last_name:  m.merge_fields?.LNAME || '',\n      event_id:   ctx.event_id,\n      event_name: ctx.event_name,\n      session_id: ctx.session_id,\n      grada_id:   ctx.grada_id,\n      grada_name: ctx.grada_name,\n      available:  ctx.available,\n      purchase_url: ($('Vars').first().json.purchase_url_template || '')\n        .replace('{sessionId}', String(ctx.session_id))\n        .replace('{eventId}',   String(ctx.event_id))\n        .replace('{gradaId}',   String(ctx.grada_id))\n    }});\n  }\n}\nreturn out;"
      },
      "id": "a1f1bcba-352a-45a0-b30c-d9437c64c88e",
      "name": "Find leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2352, -64]
    },
    {
      "parameters": {
        "operation": "sendHtml",
        "fromEmail": "={{ $('Vars').first().json.mandrill_from_email }}",
        "toEmail": "={{ $json.email }}",
        "options": {
          "html": "={{ '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#eaf1f8;font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;color:#0a1a3a\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#eaf1f8;padding:24px 12px\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 6px 24px rgba(10,26,58,.08)\"><tr><td style=\"background:#7AB1D9;padding:22px 32px\"><table width=\"100%\"><tr><td style=\"color:#fff;font-weight:800;font-size:20px\">RC Celta · Entradas</td><td align=\"right\" style=\"color:#fff;font-size:11px;font-weight:700;letter-spacing:.22em;text-transform:uppercase\">¡Avísame!</td></tr></table></td></tr><tr><td style=\"padding:32px 32px 8px\"><h1 style=\"margin:0 0 8px;font-size:26px;line-height:1.2;color:#D61034;font-weight:800\">¡Hay entradas!</h1><p style=\"margin:0 0 16px;font-size:15px;color:#10213f\">Hola <strong>' + $json.first_name + '</strong>, se acaban de liberar localidades para la grada que estás siguiendo. Corre que vuelan 🏃</p></td></tr><tr><td style=\"padding:0 32px\"><table width=\"100%\" style=\"background:#E6EFF8;border-radius:10px\"><tr><td style=\"padding:16px 18px\"><div style=\"font-size:11px;text-transform:uppercase;color:#5d6c80;font-weight:700;margin-bottom:6px\">Partido</div><div style=\"font-size:16px;font-weight:700;color:#0a1a3a;margin-bottom:14px\">' + $json.event_name + '</div><div style=\"font-size:11px;text-transform:uppercase;color:#5d6c80;font-weight:700;margin-bottom:6px\">Grada</div><div style=\"font-size:16px;font-weight:700;color:#0a1a3a;margin-bottom:14px\">' + $json.grada_name + '</div><div style=\"font-size:11px;text-transform:uppercase;color:#5d6c80;font-weight:700;margin-bottom:6px\">Disponibilidad</div><div style=\"font-size:16px;font-weight:700;color:#0a8754\">' + $json.available + ' localidades</div></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:28px 32px 12px\"><a href=\"' + $json.purchase_url + '\" style=\"display:inline-block;background:#D61034;color:#fff;text-decoration:none;padding:14px 34px;border-radius:8px;font-weight:700\">Comprar entrada</a></td></tr><tr><td style=\"padding:0 32px 28px;text-align:center\"><p style=\"margin:0;font-size:12px;color:#6b7a8f\">Si el botón no funciona:<br><span style=\"color:#4a89c3;word-break:break-all\">' + $json.purchase_url + '</span></p></td></tr><tr><td style=\"background:#f3f6fa;padding:18px 32px;border-top:1px solid #dbe4ef;text-align:center\"><p style=\"margin:0;font-size:12px;color:#6b7a8f\">Te registraste en <a href=\"https://avisame.rccelta.es\" style=\"color:#4a89c3\">avisame.rccelta.es</a>.</p></td></tr></table></td></tr></table></body></html>' }}",
          "subject": "=¡Hay entradas en {{ $json.grada_name }} para {{ $json.event_name }}!"
        }
      },
      "id": "3ef067d7-7935-40cc-b576-54797aed3af9",
      "name": "Mandrill Send",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [2544, -64],
      "credentials": {
        "mandrillApi": {
          "id": "PLEASE_LINK_AFTER_IMPORT",
          "name": "Mandrill API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": { "main": [[{ "node": "Vars",                     "type": "main", "index": 0 }]] },
    "Vars":                              { "main": [[{ "node": "Mailchimp Members",        "type": "main", "index": 0 }]] },
    "Mailchimp Members":                 { "main": [[{ "node": "Aggregate members",        "type": "main", "index": 0 }]] },
    "Aggregate members":                 { "main": [[{ "node": "ONEBOX Auth",              "type": "main", "index": 0 }]] },
    "ONEBOX Auth":                       { "main": [[{ "node": "ONEBOX Sessions",          "type": "main", "index": 0 }]] },
    "ONEBOX Sessions":                   { "main": [[{ "node": "Filter by event_id",       "type": "main", "index": 0 }]] },
    "Filter by event_id":                { "main": [[{ "node": "ONEBOX Availability",      "type": "main", "index": 0 }]] },
    "ONEBOX Availability":               { "main": [[{ "node": "Gradas with availability", "type": "main", "index": 0 }]] },
    "Gradas with availability":          { "main": [[{ "node": "Find leads",               "type": "main", "index": 0 }]] },
    "Find leads":                        { "main": [[{ "node": "Mandrill Send",            "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
